@tailwind base;

@font-face {
    font-family: 'IRANSansWeb';
    src: url('/static/fonts/IRANSansWeb/IRANSansWeb_Light.eot');
    src: url('/static/fonts/IRANSansWeb/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
        url('/static/fonts/IRANSansWeb/IRANSansWeb_Light.woff2') format('woff2'),
        url('/static/fonts/IRANSansWeb/IRANSansWeb_Light.woff') format('woff'),
        url('/static/fonts/IRANSansWeb/IRANSansWeb_Light.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html,
body {
    @apply font-primary;
}

@tailwind components;

@tailwind utilities;
